/* styles_editar.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5a623; /* Fondo anaranjado */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.header {
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
}

.logo {
    width: 160px;
    height: auto;
}

.profile-container {
    width: 70%;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
    overflow-y: auto;
    max-height: 90vh;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #3878ee;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
    text-decoration: none;
    text-align: center;
}

.save-btn {
    background-color: #3878ee; /* Azul para guardar */
}

.back-btn {
    background-color: #f44336; /* Rojo para volver */
}

.btn:hover {
    opacity: 0.9;
}
