body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../vistas/6129035.jpg') no-repeat center center fixed; 
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 148, 148, 0.747); /* Overlay semitransparente */
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.frame {
    flex: 1;
    max-width: 500px;
    background: linear-gradient(to right,#D5B345,#CF6323);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aviso {
    color: white;
    margin-bottom: 20px;
}

.video-tutorial {
    background: linear-gradient(to right,#D5B345,#CF6323);
    padding: 5px;
    border-radius: 5px;
}

.video-tutorial iframe {
    width: 100%;
    height: 300px;
    border: none;
}

#registro {
    flex: 1;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px rgba(29, 1, 1, 0.671); 
    text-stroke: 1px rgba(22, 1, 1, 0.753); 
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
    border-color: orange;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkorange;
}

/* Responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .frame, #registro {
        width: 90%;
        margin: 10px;
    }

    .video-tutorial iframe {
        height: 200px;
    }
}
